html
    head
        block stylesheets
            link(rel="stylesheet", href="/stylesheets/main.css")
        block title
            title Trivet
    body
        block content
            h1 Trivet
